.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.shareprice-inputs {
  padding: 20px 4px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  text-align: center;
}

.range-container {
  display: inline-block;
  padding: 0;
}

.label {
  width: 35%;
  display: inline-block;
  text-align: right;
  padding: 0px 10px;
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
}
